*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #98623c;
    --secondary-color: #c19a6b;
    --back-color: rgb(255, 255, 255);
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--back-color);
}

.no-scroll{
    overflow: hidden;
}

.header{
    position: sticky;
    top: 0;
    background: #fbeeee;
    z-index: 999;
}

img{
    border-radius: 10px; 
 }

header{
    display: flex;
    justify-content: space-between;
    padding: .7em 1em;
    align-items: center;
}

header .logo{
    width: 50px;
    object-fit: cover;
}

nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.853);
    gap: 45px;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.active{
    opacity: 1;
    pointer-events: all;
}

nav img{
    width: 90px;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.burger{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    z-index: 999;
    cursor: pointer;
}

.line1, .line2, .line3{
    width: 30px;
    height: 2px;
    background: var(--primary-color);
    transition: .3s;
    border-radius: 1em;
}


.rotate .line1{
    transform: translateY(7px) rotate(135deg);
    width: 30px;
}
.rotate .line2{
    transform: translateX(30px);
    opacity: 0;
}

.rotate .line3{
    transform: translateY(-7px) rotate(-135deg);
    width: 30px;
} 

.first{
    background: linear-gradient(0deg, #000000d9, #000000bb);
    height: 65vh;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}

.first img{
    position: fixed;
    height: 65vh;
    width: 100%;
    object-fit: cover;
    z-index: -999;
}

.c2{
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 2.5rem;
    margin: 2px;
}


.second{
    background: var(--back-color);
}

.c3{
    padding: 10px 10px 70px;
}

.contact-info{
    margin-bottom: 3em;
}

.contact-info h2{
    margin: 1.5em 0 .5em;
    font-size: 2rem;
    font-weight: 500;
}

.infos{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.info{
    display: flex;
    gap: .8em;
    align-items: center;
}

.info i{
    font-size: 1.7rem;
    color: var(--primary-color);
}


.third{
    background-color: #121112;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.7em;
    width: 100%;
}

.input-container{
    width: 100%;
    position: relative;
}

.input-container input, textarea{
    width: 100%;
    font-size: 1.2rem;
    padding: .5em .5em;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    /* background: rgb(250, 248, 248); */
    transition: .3s;
}

.input-container input::placeholder{
    opacity: 0;
}

.input-container label{
    position: absolute;
    left: 6%;
    top: 50%;
    transform: translate(-6%, -50%);
    transition: .3s;
}

input:focus{
    border-bottom: 2px solid var(--primary-color);
}

input:focus ~ label,
input:valid ~ label{
    transform: translate(-6%, -50%) translateY(-20px) translateX(-16px);
    font-size: .8rem;
}

textarea:focus{
    border-bottom: 2px solid var(--primary-color);
}

#message:focus ~ .message,
#message:valid ~ .message{
    top: -20%;
    transform: translateX(-18px);
    font-size: .8rem;
}

label{
    color: var(--primary-color);
}

form button{
    width: 10rem;
    padding: .7em;
    font-size: 1.2rem;
    border-radius: .7em;
    background: var(--primary-color);
    border: none;
    cursor: pointer;
    color: white;
}

.div h4{
    text-transform: capitalize;
    font-size: 19px;
    text-align: center;
    padding-bottom: 5px;
}

.div span{
    color: #98623c;
}



footer{
    background: 
      linear-gradient(0deg, rgba(0, 0, 0, 0.911), rgba(0, 0, 0, 0.88)), 
      url('../images/marketing-ideas-share-research-planning-concept.jpg');
    background-size: cover;
    background-position: right;
    color: white;
}

.last-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.last-page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4em 2rem 3rem;
    text-align: center;
}

.last-page h2, h1{
    text-align: center;
    text-transform: capitalize;
}

.contact-us h1{
    font-weight: 400;
    margin: 1rem;
    font-size: 1.5rem;
}

.contact-us a{
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    color: white;
    font-weight: 200;
    justify-content: center;
}

.contact-us a i{
    background: white;
    color: black;
    padding: .6rem;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: .3s;
}

.contact-us a:hover i{
    background: var(--primary-color);
    color: white;
}

.logo img{
    width: 80px;
    margin: .7rem;
}

.logo h2{
    font-weight: 300;
}

.quick-links h1{
    font-weight: 400;
    margin: .8rem;
    font-size: 1.5rem;
}

.links ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.links ul li a{
    text-decoration: none;
    color: rgb(165, 165, 165);
    font-weight: 200;
}

.socials h1{
    font-weight: 400;
    margin: .8rem;
    font-size: 1.5rem;
}

.social-icons{
    display: flex;
    gap: 1rem;
}

.social-icons a{
    color: white;
    text-decoration: none;
}

.social-icons a i{
    font-size: 1.5rem;
    padding: .7rem;
    background: rgb(27, 27, 27);
    border-radius: 50%;
    cursor: pointer;
}

.last-page p{
    font-size: .8rem;
    font-weight: 200;
    text-align: center;
}


@media screen and (min-width: 768px){
    header{
        padding: .7em 1.5em;
    }
    header nav{
        position: unset;
        z-index: 999;
        background: none;
        width: unset;
        height: unset;
        opacity: 1;
        pointer-events: all;
    }

    header nav img{
        display: none;
    }

    header nav ul{
        flex-direction: row;
        gap: 4em;
    }

    header nav ul li a{
        color: black;
        font-weight: 300;
        font-size: 1rem;
        position: relative;
    }

    header nav ul li a::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: var(--primary-color);
        bottom: -20%;
        left: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: .3s ease;
    }

    header nav ul li a:hover::after{
        transform: scaleX(1);
        transform-origin: right;
    }

    header .burger{
        display: none;
    }

    .hero h1{
        font-size: 3.5rem;
    }

    .hero p{
        font-size: 1.1rem;
        font-weight: 300;
    }

    .c3 {
        padding: 6em 2em 6em;
    }

    .contact{
        display: flex;
        gap: 2em;
    }

    .contact-info{
        width: 50%;
    }

    .contact-info h2 {
        margin: 0 0 1em;
    }
}

@media screen and (min-width: 800px) {

    footer .last-page-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        width: 100%;
        padding: 4em 1em;
    }

    .contact-us h1 {
        font-size: 1.5rem;
        margin: 1rem 0;
    }

    .socials h1 {
        font-size: 1.5rem;
    }

    .quick-links h1 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {

    header,
    .container {
        max-width: 1100px;
        margin: 0 auto;
    }

    header {
        padding: .9em 2em;
    }

    header nav ul {
        gap: 6em;
    }

    /* .hero-section h1{
        font-size: 4rem;
    } */

    .c3 {
        padding: 6em 2em 6em;
    }

    .contact {
        gap: 6em;
    }

    .contact-info h2 {
        margin: 0 0 1em;
    }

    .infos {
        gap: 2em;
    }

    .info {
        
        padding: 1.5em 2em;
        border-radius: .2em;
        box-shadow: -2px 5px 15px rgb(206, 206, 206);
    }

    .info:hover{
        background: rgb(225, 225, 225);

    }
    .info i {
        font-size: 2rem;
    }

    .input-container{
        width: 70%;
        ;
    }

}
