* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #98623c;
  --secondary-color: #c19a6b;
  --back-color: rgb(255, 255, 255);
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--back-color);
  overflow-x: hidden;
}

.header {
  position: sticky;
  top: 0;
  background: #e5e5e5;
  z-index: 999;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.7em 1em;
  align-items: center;
}

header .logo {
  width: 50px;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.649);
  gap: 45px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.active {
  opacity: 1;
  pointer-events: all;
}

nav img {
  width: 90px;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
  z-index: 999;
  cursor: pointer;
}

.line1,
.line2,
.line3 {
  width: 30px;
  height: 2px;
  background: var(--primary-color);
  transition: 0.3s;
  border-radius: 1em;
}

.rotate .line1 {
  transform: translateY(7px) rotate(135deg);
  width: 30px;
}

.rotate .line2 {
  transform: translateX(30px);
  opacity: 0;
}

.rotate .line3 {
  transform: translateY(-7px) rotate(-135deg);
  width: 30px;
}

.hero {
  /* height: 70vh; */
  background-color: #ffffff;
}

.hero-img {
  width: 100%;
  padding: 10px 10px 10px 0.625rem;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 10px 10px;
  margin-top: 20px;
}

.hero-img img {
  width: 100%;
}

.text-header {
  text-align: center;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-header h1 {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
}

.text-header p {
  font-size: 1rem;
  font-weight: 400;
}

.text-header h1 span {
  color: #98623c;
}

.btn {
  background-color: #98623c;
  color: white;
  padding: 10px 60px;
  border-radius: 5px;
  border: none;
}

.about-h1 h1 {
  font-size: 23px;
  text-align: center;
  text-transform: capitalize;
}
.about-text {
  background-color: #98623c92;
  padding: 10px 10px 10px 10px;
}

.c3 {
  padding-top: 20px;
}

.about-h1 p {
  font-size: 16px;
  color: white;
  /* width: 400px; */
  text-align: center;
}

.about-h1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

hr {
  margin: 0 0 1em;
}

.mission {
  padding: 0.5em;
  margin: 1em 0;
  height: 3em;
  overflow: hidden;
  transition: 0.3s;
  border-bottom: 1px solid #98623c;
}

.mission i {
  transition: 0.3s;
}

.mission h3 {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.7em;
  cursor: pointer;
}

.reverse {
  height: unset;
}

.times {
  transform: rotate(45deg);
}
.our-vision {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mission p{
    padding: 10px;
}

.four{
    background-color: #f3f3f3;
    padding: 10px 10px 10px 10px;
}


.testimoty{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    /* flex-wrap: wrap; Ensures that items wrap on smaller screens */
    padding: 20px;
    width: 900px;
    
}

.testimo-cards {
    background-color: white;
    width: 100%; /* Take full width of the screen */
    max-width: 400px;
    margin: 10px auto; /* Center card and add small space around */
    padding: 20px; /* Add inner space inside the card */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    border-radius: 8px;
    text-align: center;
    gap: 10px; /* Optional: Rounded corners */
}

.stars i{
    color: rgb(133, 133, 25);
}

.testimo-cards h2{
    text-transform: capitalize;
    font-family: Poppins;
} 

.c5 h1{
    text-align: center;
    /* margin-left: 50px; */
    text-transform: capitalize;
    padding-top: 30px;
}

.c5 span{
    color: #98623c;
}


footer{
    background: 
      linear-gradient(0deg, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)), 
      url('../images/marketing-ideas-share-research-planning-concept.jpg');
    background-size: cover;
    background-position: right;
    color: white;
}

.last-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.last-page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4em 2rem 3rem;
    text-align: center;
}

.last-page h2, h1{
    text-align: center;
    text-transform: capitalize;
}

.contact-us h1{
    font-weight: 400;
    margin: 1rem;
    font-size: 1.5rem;
}

.contact-us a{
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    color: white;
    font-weight: 200;
    justify-content: center;
}

.contact-us a i{
    background: white;
    color: black;
    padding: .6rem;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: .3s;
}

.contact-us a:hover i{
    background: var(--primary-color);
    color: white;
}

.logo img{
    width: 80px;
    margin: .7rem;
}

.logo h2{
    font-weight: 300;
}

.quick-links h1{
    font-weight: 400;
    margin: .8rem;
    font-size: 1.5rem;
}

.links ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.links ul li a{
    text-decoration: none;
    color: rgb(165, 165, 165);
    font-weight: 200;
}

.socials h1{
    font-weight: 400;
    margin: .8rem;
    font-size: 1.5rem;
}

.social-icons{
    display: flex;
    gap: 1rem;
}

.social-icons a{
    color: white;
    text-decoration: none;
}

.social-icons a i{
    font-size: 1.5rem;
    padding: .7rem;
    background: rgb(27, 27, 27);
    border-radius: 50%;
    cursor: pointer;
}

.last-page p{
    font-size: .8rem;
    font-weight: 200;
    text-align: center;
}