*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #98623c;
    --secondary-color: #c19a6b;
    --back-color: rgb(255, 255, 255);
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--back-color);
}

.no-scroll{
    overflow: hidden;
}

.header{
    position: sticky;
    top: 0;
    background: #fbeeee;
    z-index: 999;
}

img{
   border-radius: 10px; 
}

header{
    display: flex;
    justify-content: space-between;
    padding: .7em 1em;
    align-items: center;
}

header .logo{
    width: 50px;
    object-fit: cover;
}

nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.853);
    gap: 45px;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.active{
    opacity: 1;
    pointer-events: all;
}

nav img{
    width: 90px;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.burger{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    z-index: 999;
    cursor: pointer;
}

.line1, .line2, .line3{
    width: 30px;
    height: 2px;
    background: var(--primary-color);
    transition: .3s;
    border-radius: 1em;
}


.rotate .line1{
    transform: translateY(7px) rotate(135deg);
    width: 30px;
}
.rotate .line2{
    transform: translateX(30px);
    opacity: 0;
}

.rotate .line3{
    transform: translateY(-7px) rotate(-135deg);
    width: 30px;
} 


.first{
    background: linear-gradient(0deg, #000000bb, #000000bb), url(../images/african-american-friends-business-workers-sitting-table-working-office.jpg);
    height: 60vh;
    background-size: cover;
    background-position: center;
    color: white;
}


.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1em;
}

.hero h1{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 2.3rem;
    margin: 2px;
    text-align: center;
}

.hero-section p{
    font-weight: 300;
    text-align: center;
    font-size: .7rem;
}

.text h1{
    text-align: center;
    /* margin-left: 50px; */
    text-transform: capitalize;
    padding: 10px;
    font-size: 1.9em;
    /* margin-top: 20px; */
    padding-bottom: 20px;
}

.text span{
    color: #98623c;
}

.second{
    background-color: rgba(255, 248, 248, 0.785);
}



.img{
    width: 100%;
}

.img img{
    width: 100%;
}

.services{
    padding: 10px;
    margin-top: -30px;
}

.div{
    padding-top: 10px;
}

.div h1{
    text-align: center;
    /* margin-left: 50px; */
    text-transform: capitalize;
    padding-top: 30px;
    font-size: 1.8em; 
    color: #98623c;
}

.div p{
    font-size: 1em;
    padding-bottom: 10px;
    
}


footer{
    background: 
      linear-gradient(0deg, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)), 
      url('../images/marketing-ideas-share-research-planning-concept.jpg');
    background-size: cover;
    background-position: right;
    color: white;
}

.last-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.last-page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4em 2rem 3rem;
    text-align: center;
}

.last-page h2, h1{
    text-align: center;
    text-transform: capitalize;
}

.contact-us h1{
    font-weight: 400;
    margin: 1rem;
    font-size: 1.5rem;
}

.contact-us a{
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    color: white;
    font-weight: 200;
    justify-content: center;
}

.contact-us a i{
    background: white;
    color: black;
    padding: .6rem;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: .3s;
}

.contact-us a:hover i{
    background: var(--primary-color);
    color: white;
}

.logo img{
    width: 80px;
    margin: .7rem;
}

.logo h2{
    font-weight: 300;
}

.quick-links h1{
    font-weight: 400;
    margin: .8rem;
    font-size: 1.5rem;
}

.links ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.links ul li a{
    text-decoration: none;
    color: rgb(165, 165, 165);
    font-weight: 200;
}

.socials h1{
    font-weight: 400;
    margin: .8rem;
    font-size: 1.5rem;
}

.social-icons{
    display: flex;
    gap: 1rem;
}

.social-icons a{
    color: white;
    text-decoration: none;
}

.social-icons a i{
    font-size: 1.5rem;
    padding: .7rem;
    background: rgb(27, 27, 27);
    border-radius: 50%;
    cursor: pointer;
}

.last-page p{
    font-size: .8rem;
    font-weight: 200;
    text-align: center;
}



@media screen and (min-width: 768px){

    header{
        padding: .7em 1.5em;
    }
    
    header nav{
        position: unset;
        z-index: 999;
        background: none;
        width: unset;
        height: unset;
        opacity: 1;
        pointer-events: all;
    }

    header nav img{
        display: none;
    }

    header nav ul{
        flex-direction: row;
        gap: 4em;
    }

    header nav ul li a{
        color: black;
        font-weight: 300;
        font-size: 1rem;
        position: relative;
        /* font-weight: 500; */
    }

    header nav ul li a::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: var(--primary-color);
        bottom: -20%;
        left: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: .3s ease;
    }

    header nav ul li a:hover::after{
        transform: scaleX(1);
        transform-origin: right;
    }

    header .burger{
        display: none;
    }


}



@media screen and (min-width: 800px) {

    footer .last-page-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        width: 100%;
        padding: 4em 1em;
    }

    .contact-us h1 {
        font-size: 1.5rem;
        margin: 1rem 0;
    }

    .socials h1 {
        font-size: 1.5rem;
    }

    .quick-links h1 {
        font-size: 1.5rem;
    }
}


@media screen and (min-width: 1024px){

    header, .container{
         max-width: 1100px;
         margin: 0 auto;
     }
  
     header{
         padding: .9em 2em;
     }
 
     header nav ul{
         gap: 6em;
     }
 
     
     .service-one{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 90px;
     }

     .img img{
        width: 80%;
     }

     .img{
        margin-left: 90px;
        padding-top: 50px;
     }

     .services{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
     }

     .div{
        width: 100%;
     }

     .turn1{
        flex-direction: row-reverse;
     }

    }
 
